*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #efc8f7;
}

.container {
    width: 60%;
    display: grid;
    gap: 0;
}

.tool-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    overflow: hidden;
    gap: 10px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.header {
    display: flexbox;
    padding: 0;
    overflow: hidden;
    gap: 0;
    padding: 5px;
    background-color: white;
    text-align: center;
    width: 100%;
    font-size: 10px;
}

.tool--btn {
    display: block;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}

.tool--btn:hover {
    background-color: #dddddd;
}

#output {
    height: 400px;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
}
